.campaigns {
    padding: 0 15px 0 15px;
}

.select-campaigns select{
    font-size: 9px;
    height: 25px;
    width: 128px;
    border-radius: 7px;
    margin-right: 3px;
}

.card-campaign-num{
    margin: 0px 18px 28px 20px;
    color: #909090;
    font-weight: 700;
    line-height: 20px;
    font-size: 25px;
}

.card-campaign-title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #3a3a3a;
}

.card-campaigns {
    background-color: white;
    border-radius: 10px;
    padding-top: 26px;
    box-shadow: 0px 4px 20px 0px #0000001A;
}

.card-campaigns-chat {
    position: relative;
    cursor: pointer;
}

.comments-container {
    width: 400px;
}

.card-campaigns-chat i:nth-child(1) {
    color: #0dcaf0;
    font-size: 8px;
    position: absolute;
    margin-left: 10px;
}

/*card*/
.flags {
    padding-left: 3px;
    background-color: #f4f4f4;
    border-radius: 7px;
    display: flex;
    gap: 5px;
    margin-right: 10px;
}

.campaigns-months {
    font-weight: 800;
    font-size: 11px;
    width: 125px;
    border-radius: 7px;
    background-color: #f4f4f4;
}

.user-campaigns-container {
    padding: 5px !important;
    border-radius: 7px;
    background-color: #f4f4f4;
}

.campaigns-months div i {
    margin-right: 2px;
}

.campaigns-months div span {
    color: #6c6b6b;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
}

.campaigns-months strong {
    font-weight: 700;
    font-size: 10px;
    line-height: 20px;
    margin: 0px 2px 0px 2px;
}

.campaigns-months svg {
    margin: 5px 5px 0 0;
}

.evolution-gaming-users {
    font-size: 13px;
    color: #383838;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.egai-subTitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #3A3A3A;
}

.egai-subTitle span {
    color: #60BF41;
}

.evolution-gaming-dataset-win {
    border: 1px solid #60BF41;
    padding: 12px;
    border-radius: 7px;
    background-color: #F2F7F0;
}

.evolution-gaming-dataset-neutro {
    border: 1px solid #F4F4F4;
    padding: 12px;
    border-radius: 7px;
    background-color: #F4F4F4;
}

.evolution-gaming-dataset-loser {
    border: 1px solid #FD8C8C;
    padding: 12px;
    border-radius: 7px;
    background-color: #FFF6F6;
}

.evolution-gaming-filters select {
    font-size: 9px;
    height: 25px;
    width: 120px;
    border-radius: 8px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.stat-item img {
    width: 20px;
    margin-bottom: 5px;
}

.stat-item i {
    color: #959595;
}

.stat-item strong {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #3A3A3A;
}

.stat-item:nth-child(1) strong, .stat-item:nth-child(3) strong {
    text-decoration: underline;
    cursor: pointer;
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: #60BF41;
    line-height: 20px;
}

.evolution-gaming-additional-info div
{
    font-size: 13px;
}

.icons-additional-info i {
    font-size: 25px;
}

.social-media-status img {
    width: 33px;
    height: 33px;
}

/*comments*/
.comment-card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-bottom: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-avatar2 {
    width: 50px;
    height: 40px;
}

.img-user2 {
    position: relative;
}

.img-user2 i {
    position: absolute;
    font-size: 26px;
    top: 10px;
}

.comment-text {
    font-size: 12px;
    color: #504d4d;
}

.btn-light {
    border: none;
    color: #6c757d;
    background-color: transparent;
    font-size: 1.1rem;
}

.btn-light:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.text-muted {
    font-size: 10px;
    margin-right: 17px;
}

.main-content-comments strong {
    font-size: 12px;
}

.card-body {
    background-color: #f5f9ff;
    border-radius: 10px;
}

.card-body .bi-hand-thumbs-up {
    color: #007bff;
}

.card-body .bi-trash:hover {
    color: red;
}

.card-body .bi-person-add {
    font-size: 20px;
}

a.text-primary:hover {
    text-decoration: underline;
}

.card-with-notification {
    border: 1px solid cyan;
    background-color: #f9ffff;
}

.card-without-notification {
    border: 1px solid #cecece;
    background-color: #f4f4f4;
}

.actions-active button{
    background-color: #f9ffff;
}

.actions-no-active button{
    background-color: #f4f4f4;
}

@media(min-width: 1500px) {
    .flags {
        gap: 10px;
    }

    .stats {
        gap: 19px;
    }

    .evolution-gaming-filters select {
        font-size: 10px;
        height: 25px;
        width: 128px;
        border-radius: 10px;
    }

    .comments-container {
        width: 485px;
    }

    /*.select-campaigns select {
        font-size: 9px;
        height: 25px;
        width: 152px;
        border-radius: 8px;
        margin-right: 3px;
    }*/
}

@media(max-width: 1330px) {
    .flags-menu {
        flex-direction: column;
    }

    .flags-menu div:nth-child(2) {
        justify-content: start;
    }
}

@media(max-width:1199.99px) {
    .evolution-gaming-filters select {
        font-size: 14px;
        height: 32px;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width: 991px) {
    .select-campaigns select {
        font-size: 16px;
        height: 40px;
        width: 240px;
        border-radius: 10px;
        margin-right: 3px;
    }

    .main-content-comments strong {
        font-size: 14px;
    }

    .comment-text {
        font-size: 14px;
    }
}

@media(max-width: 767px) {
    .select-campaigns div {
        display: flex;
        justify-content: center;
    }

    .m-0 {
        font-size: 14px;
    }
}

@media(max-width: 575px) {



}
