.campaigns {
    padding: 0 15px 0 15px;
}

.select-campaigns select{
    font-size: 11px;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    margin-right: 3px;
}

.card-top span:nth-child(1){
    color: #6c6b6b;
    font-weight: 800;
    font-size: 25px;
}

.card-top span:nth-child(2) {
    color: #343232;
    font-weight: 800;
    text-align: center;
}

.card-campaigns {
    background-color: white;
    border-radius: 5px;
}

.card-campaigns-chat {
    position: relative;
    cursor: pointer;
}

.card-campaigns-chat i:nth-child(1) {
    color: #0dcaf0;
    font-size: 8px;
    position: absolute;
    margin-left: 10px;
}

/*card*/
.flags {
    display: flex;
    gap: 5px;
}

.flags div span {
    color: #6c6b6b;
    font-weight: 800;
    font-size: 10px;
    margin-left: 5px;
}

.campaigns-months {
    font-weight: 800;
    font-size: 11px;
    width: 125px;
}

.campaigns-months div i {
    margin-right: 2px;
}

.campaigns-months div span {
    color: #6c6b6b;
}

.campaigns-months strong {
    margin: 0px 2px 0px 2px;
}

.evolution-gaming-users {
    font-size: 13px;
    color: #383838;
}

.evolution-gaming-dataset-win {
    border: 1px solid #198754;
    padding: 5px;
    border-radius: 5px;
    background-color: #ededed;
}

.evolution-gaming-dataset-neutro {
    border: 1px solid #6c757d;
    padding: 5px;
    border-radius: 5px;
    background-color: #ebe7e75e;
}

.evolution-gaming-dataset-loser {
    border: 1px solid #dc3545;
    padding: 5px;
    border-radius: 5px;
    background-color: #f5eeee;
}

.evolution-gaming-filters select {
    font-size: 10px;
    height: 29px;
    width: 120px;
    border-radius: 10px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.stat-item img {
    width: 20px;
    margin-bottom: 5px;
}

.stat-item i {
    color: #959595;
}

.stat-item strong {
    font-size: 14px;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.evolution-gaming-additional-info div
{
    font-size: 14px;
}

.icons-additional-info i {
    font-size: 25px;
}

.social-media-status img {
    max-width: 50px;
}

/*comments*/
.comment-card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-bottom: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-avatar2 {
    width: 50px;
    height: 40px;
}

.img-user2 {
    position: relative;
}

.img-user2 i {
    position: absolute;
    font-size: 26px;
    top: 10px;
}

.comment-text {
    font-size: 12px;
    color: #504d4d;
}

.btn-light {
    border: none;
    color: #6c757d;
    background-color: transparent;
    font-size: 1.1rem;
}

.btn-light:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.text-muted {
    font-size: 10px;
    margin-right: 17px;
}

.main-content-comments strong {
    font-size: 12px;
}

.card-body {
    background-color: #f5f9ff;
    border-radius: 10px;
}

.card-body .bi-hand-thumbs-up {
    color: #007bff;
}

.card-body .bi-trash:hover {
    color: red;
}

.card-body .bi-person-add {
    font-size: 20px;
}

a.text-primary:hover {
    text-decoration: underline;
}

.card-with-notification {
    border: 1px solid cyan;
    background-color: #f9ffff;
}

.card-without-notification {
    border: 1px solid #cecece;
    background-color: #f4f4f4;
}

@media(min-width: 1500px) {
    .flags {
        gap: 10px;
    }

    .stats {
        gap: 19px;
    }

    .evolution-gaming-filters select {
        font-size: 14px;
        height: 35px;
        width: 150px;
        border-radius: 10px;
    }

    .select-campaigns select {
        font-size: 13px;
        height: 35px;
        width: 100%;
        border-radius: 10px;
        margin-right: 3px;
    }
}

@media(max-width: 1330px) {
    .flags-menu {
        flex-direction: column;
    }

    .flags-menu div:nth-child(2) {
        justify-content: start;
    }
}

@media(max-width:1199.99px) {
    .evolution-gaming-filters select {
        font-size: 14px;
        height: 32px;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width: 991px) {
    .select-campaigns select {
        font-size: 16px;
        height: 40px;
        width: 240px;
        border-radius: 10px;
        margin-right: 3px;
    }

    .main-content-comments strong {
        font-size: 14px;
    }

    .comment-text {
        font-size: 14px;
    }
}

@media(max-width: 767px) {
    .select-campaigns div {
        display: flex;
        justify-content: center;
    }

    .m-0 {
        font-size: 14px;
    }
}

@media(max-width: 575px) {



}
