.overview-media-data {
    height: 59px;
    /*margin-right: 4px !important;*/
    width: auto !important;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 4px 20px 0px #0000000D;
}

.overview-media-data span {
    font-size: 14px;
    font-weight: 700;
    margin-right: 1px;
    line-height: 20px;
    color: #3A3A3A;
}

.overview-arrow {
    margin-top: 3px !important;
}

.overview-logos img {
    margin-right: 10px;
    width: 42px;
    height: 42px;
}

.overviews-qtdViews-icon svg, .overviews-chat-icon svg:nth-child(1){
    margin: 4px 5px 9px 0px;
}

.overviews-chat-icon span {
    color: #60BF41;
}

.select-overview select{
    font-size: 11px;
    height: 30px;
    width: 128px;
    border-radius: 8px;
    margin-right: 3px;
}

.overview-visualize:first-child {
    margin-right: 30px;
}

.overview-visualize span {
    font-style: italic;
    font-size: 10px;
}

.overviews-info {
    font-weight: 700 !important;
    color: #909090;
    line-height: 20px;
}

.overviews-info2 {
    font-weight: 700 !important;
    color: #60BF41;
    line-height: 20px;
}

.overviews-info2 span {
    font-size: 8px !important;
    font-weight: 600 !important;
}

.quantity-overviews {
    font-weight: 500;
    margin: 0px 5px 0px 5px;
    font-size: 25px !important;
    line-height: 25px;
    color: #3a3a3a;
}

.three-button-menu {
    padding: 0 !important;
    align-items: flex-start;
    display: flex;
    height: 35px;
    background: none;
    border: none;
}

.three-button-menu i {
    color: #000000;
}

.overview-video-data {
    margin-top: -25px !important;
}

@media(max-width: 991px) {
    .overview-filters {
        justify-content: center;
    }

    .quantity-overviews {
        font-size: 28px !important;
        margin: 0px 20px 0px 20px;
    }

    .overview-visualize i {
        font-size: 25px;
    }

    .overview-visualize span {
        font-size: 13px;
    }

    .select-overview select {
        font-size: 15px;
        height: 36px;
        width: 100%;
        border-radius: 10px;
        margin-right: 3px;
    }
}

@media (max-width: 767px) {
    .overview-filters {
        margin-bottom: 25px;
    }
}

@media(max-width: 549px) {
    .select-overview {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .select-overview select {
        width: 80%;
        margin-bottom: 5px;
    }

    .select-overview select {
        width: 100%;
    }

    .overview-visualize i {
        font-size: 22px;
    }

    .quantity-overviews {
        font-size: 20px !important;
    }

    .flags {
        flex-wrap: wrap;
    }
}
