.overview-media-data {
    height: 50px;
    margin-right: 8px !important;
    width: auto !important;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.overview-media-data i, .overview-media-data span {
    font-size: 14px;
    font-weight: 800;
    margin-right: 5px;
}

.overview-logos img {
    width: 40px;
    margin: 0px 5px 0px 5px;
}

.select-overview select{
    font-size: 13px;
    height: 30px;
    width: 145px;
    border-radius: 10px;
    margin-right: 3px;
}

.overview-visualize:first-child {
    margin-right: 30px;
}

.overview-visualize span {
    font-style: italic;
    font-size: 10px;
}

.overviews-info {
    font-weight: 800 !important;
    color: #666565;
}

.quantity-overviews {
    font-weight: 700;
    margin: 0px 3px 0px 3px;
    font-size: 21px !important;
}

.three-button-menu {
    padding: 0 !important;
    align-items: flex-start;
    display: flex;
    height: 35px;
    background: none;
    border: none;
}

.three-button-menu i {
    color: #000000;
}

@media (max-width: 1199.99px) {
    .select-overview select {
        font-size: 15px;
        height: 36px;
        width: 100%;
        border-radius: 10px;
        margin-right: 3px;
    }
}

@media(max-width: 991px) {
    .overview-filters {
        justify-content: center;
    }

    .quantity-overviews {
        font-size: 28px !important;
        margin: 0px 20px 0px 20px;
    }

    .overview-visualize i {
        font-size: 25px;
    }

    .overview-visualize span {
        font-size: 13px;
    }
}

@media(max-width: 549px) {
    .select-overview {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .select-overview select {
        width: 80%;
        margin-bottom: 5px;
    }

    .select-overview select {
        width: 100%;
    }

    .overview-visualize i {
        font-size: 22px;
    }

    .quantity-overviews {
        font-size: 20px !important;
    }

    .flags {
        flex-wrap: wrap;
    }
}
