.post-list {
    background-color: white;
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
}

.posts-data-user div {
    margin-left: 8px;
}

.posts-data-user div span:nth-child(1) {
    color: #666565;
    font-weight: 600;
    font-size: 9px;
}

.posts-data-user img{
    width: 41px;
    height: 41px;
}

.posts-data-user strong {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #3A3A3A;
}

.posts-user-engajament i {
    margin-right: 5px;
}

.posts-views svg {
    margin-right: 5px;
}

.posts-content {
    padding: 0px 10px 0px 10px;
}

.posts-content hr {
    height: 2px !important;
    color: #8d8b8b;
    border-radius: 10px;
}

.select-post select {
    font-size: 9px;
    height: 25px;
    width: 128px;
    border-radius: 7px;
    margin-right: 3px;
}

/*@media(min-width: 1400px){
    .select-post select {
        font-size: 14px;
        height: 35px;
        width: 100%;
        border-radius: 10px;
        margin-right: 3px;
    }
}*/

/*@media(min-width: 992px) and (max-width: 1250px) {
    .posts-data-user div span:nth-child(2) {
        font-size: 12px;
    }

    .posts-data-user div strong {
        font-size: 13px;
    }
}*/

@media (min-width: 1400px) {
    .posts-content {
        padding: 0px 15px 0px 15px;
    }
}

@media(max-width: 1199.99px){
    .select-post select {
        font-size: 14px;
        height: 35px;
        width: 100%;
        border-radius: 10px;
        margin-right: 3px;
    }
}

@media (max-width: 991px) {
    .posts-content {
        padding: 0px 15px 0px 15px;
    }
}
