.sidebar {
    height: 100vh;
    width: 156px !important;
    background: linear-gradient(to bottom, #f1f1f1, #e9ecef);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-left: -12px !important;
    position: fixed;
    z-index: 1002;
}

.sidebar-logo {
    font-size: 6.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    text-shadow: 2px 2px #e60073, -2px -2px #00f2ea;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-menu li {
    width: 100%;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #17a2b8;
    padding: 10px 20px;
    transition: background 0.3s ease;
    font-size: 14px !important;
}

.sidebar-menu a:hover {
    background-color: #dee2e6;
    color: #007bff;
}

.sidebar-menu a span {
    color: #7B7B7B !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.sidebar-menu i, .sidebar-menu svg {
    margin-right: 10px;
}

@media (max-width: 1199.99px) {
    .sidebar-menu a span {
        display: none;
    }

    .sidebar-menu i {
        font-size: 25px;
    }

    .sidebar {
        width: 65px !important;
    }

    .sidebar-logo {
        font-size: 2.5rem;
    }
}

@media (max-width: 991px) {
    .sidebar {
        display: none;
    }
}
