* {
    font-family: "Poppins", serif;
}

body {
    background-color: rgb(225, 233, 235) !important;
}

.main-content {
    width: auto !important;
    padding-top: 15px;
    margin-top: 70px;
    margin-left: 160px;
}

.three-button-menu {
    font-size: 25px;
}

.card-dashboard {
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    background-color:rgb(242 246 247 / 78%);
    box-shadow: 0px 4px 20px 0px #0000000D;
}

.logo {
    font-weight: 500;
    font-size: 14px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    width: 25px !important;
    border-radius: 50px;
    height: 24px;
}

.card-title {
    color: #3A3A3A;
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}

.user-name {
    font-size: 13px;
    line-height: 20px;
}

.pagination {
    justify-content: center;
    z-index: 1000;
}

.pagination .page-link {
    color: black;
}

.pagination .page-link.active {
    color: #17a2b8; /* Azul para o número ativo */
    font-weight: bold;
}
.pagination .page-item.disabled .page-link {
    color: gray;
}

.content {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.hidden {
    display: none !important;
}

@media(min-width: 1400px) {
    .card-dashboard {
        padding: 15px;
    }
}

@media (max-width: 1199.99px) {
    .main-content {
        margin-left: 75px !important;
    }
}

@media (max-width: 991px) {
    .main-content {
        margin-left: 0 !important;
    }
}

