.cv-tasks-status {
    flex-wrap: wrap;
    display: flex;
}

.cv-tasks-numbers {
    margin-right: 25px;
}

.cv-tasks-numbers span {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.cv-tasks-numbers span:nth-child(1) {
    color: #7B7B7B;
}

.cv-tasks-filters {
    flex-wrap: wrap;
    gap: 5px;
    display: flex;
}

.search-box {
    height: 32px;
    width: 230px;
    border: 1px solid #0000001A;
    border-radius: 7px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 14px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    padding-left: 10px;
}

.cv-tasks-filters select {
    border-radius: 7px;
    border: 1px solid #0000001A;
    height: 32px;
    font-size: 13px;
}

.cv-taks-main-content {
    padding: 15px 7px;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 1px solid #DADADA;
    box-shadow: 0px 4px 20px 0px #0000000D;
}

.cv-tasks-user-data, .cv-tasks-schedule {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px #0000001A;
    width: 350px;
    padding: 10px;
}

.cv-tasks-user-data img:nth-child(1) {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.cv-tasks-user-data img:nth-child(2) {
    width: 24px;
    height: 24px;
}

.cv-task-user-info strong {
    font-weight: 700 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    letter-spacing: 0px;
    color: #3a3a3a !important;
}

.cv-task-user-info span {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #3a3a3a;
}

.simpleTitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #7B7B7B;
}

.cv-tasks-status {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #3a3a3a;
}

.btn-schedule {
    background: #45BDDC;
    border: 1px solid #45BDDC80;
    border-radius: 5px;
    width: auto;
}

.scheduleDate, .scheduleTime {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0px;
    color: #3A3A3A;
}


