.total-earned img {
    width: 28px;
}

.total-earned span:first-child {
    font-style: italic;
    font-size: 16px;
    font-weight: 700 !important;
    color: #909090;
    line-height: 20px;
}

.total-earned span:last-child {
    color: #60BF41;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    font-weight: 700;
}

.total-earned-quantity {
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    line-height: 20px;
    color: #60BF41;
}

.btn-menu-te {
    padding-right: 10px !important;
    height: 15px !important;
}

@media(max-width: 991px) {
    .total-earned img {
        width: 50px;
    }

    .total-earned i {
        font-size: 50px;
    }
}