.total-views-filters div select{
    font-size: 9px;
    height: 25px;
    width: 128px;
    border-radius: 7px;
    margin-right: 3px;
}

.total-views-filters div label {
    font-size: 12px;
    font-weight: 500;
    color: #838383;
    line-height: 17px;
}

.tvi-checks-filters label {
    font-size: 12px;
    font-weight: 500;
    color: #838383;
    line-height: 17px;
    margin-top: 3px;
}

.tvi-checks-filters i {
    margin: 7px 6px 0px 6px;
    font-size: 8px;
}

.tvi-checks-filters div:nth-child(1) i {
    color: #d63384;
}

.tvi-checks-filters div:nth-child(2) i {
    color: #0dcaf0;
}

.tvi-checks-filters div:nth-child(3) i {
    color: #343a40;
}

.tvi-social-media-filters div img {
    width: 22px;
    height: 22px;
}

.tvi-social-media-filters div i {
    font-size: 8px;
    margin: 8px 7px 0px 7px;
}

.tvi-social-media-filters div:nth-child(1) i {
    color: #fd7e14;
}

.tvi-social-media-filters div:nth-child(2) i {
    color: #dc3545;
}

.tvi-social-media-filters div:nth-child(3) i {
    color: #0d6efd;
}

.tvi-social-media-filters div:nth-child(4) i {
    color: #0dcaf0;
}

.tvi-social-media-filters div:nth-child(5) i {
    color: #198754;
}

.tvi-social-media-filters div:nth-child(6) i {
    color: #0d6efd;
}

.tvi-infos div:nth-child(1) {
    font-size: 11px;
}

.total-videos-engajament i {
    font-size: 16px;
    color: #666565;
    margin-top: 5px;
}

.tvi-quantity {
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
    line-height: 20px;
    color: #3A3A3A;
}

.total-videos-engajament div:nth-child(1) span{
    font-weight: 500;
    margin: 0px 5px 0px 5px;
    font-size: 25px !important;
    line-height: 25px;
    color: #3a3a3a;
}

.total-videos-engajament div:nth-child(2) span{
    font-weight: 700 !important;
    color: #909090;
    line-height: 20px;
    font-size: 10px;
    font-style: italic;
}

.tvi-country img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    margin-top: 10px;
}

.tvi-chart-container {
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    padding: 10px 10px 15px 10px;
    box-shadow: 0px 4px 20px 0px #0000001A;
}

.tvi-chart-container canvas {
    height: 350px !important;
    width: 100% !important;
}

.chart-year {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.4200301766395569px;
    text-decoration-skip-ink: none;
    color: #3A3A3A;
}

/*@media(min-width: 1400px) {
    .total-views-filters div select {
        font-size: 14px;
        height: 35px;
        width: 100%;
        border-radius: 10px;
        margin-right: 3px;
    }
}*/

@media(max-width: 1199.99px) {
    .total-views-filters div select {
        font-size: 11px;
        height: 35px;
        width: 100%;
        border-radius: 10px;
        margin-right: 3px;
    }
}
