.total-invested {
    height: 45px;
}

.total-invested img {
    width: 19px;
}

.total-invested span:nth-child(1) {
    font-weight: 700;
    font-style: italic;
    font-size: 13px;
    line-height: 20px;
    color: #909090;
    margin-right: 13px;
}

.total-invested span:last-child {
    color: #FF9900;
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;
    font-style: italic;
}
